.main {
    width: 98%;
    margin: 0.5em;
    background-color: #dddfd4;
    border: 1px solid rgba(89, 89, 89,0.4);
    box-shadow: 0px 0px 21px -4px rgba(0,0,0,0.53);
    border-radius: 0.5em;
}
.main ul{
    width:100%;
    height: 100%;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}
.main li{
    flex-grow: 1;
    min-width:17em;
    max-width:25em;
    margin-bottom: 2%;
    background-color: orange;
    list-style: none;
    margin:5px;

    background-color: #ecedea;
    border: 1px solid rgba(89, 89, 89,0.4);
    box-shadow: 0px 0px 21px -4px rgba(0,0,0,0.53);
    border-radius: 0.5em;
}
option{
    font-size: 15pt;
}
.topbar{
    width:100%;
    height:60px;
    background-color: #ecedea;
    border: 1px solid rgba(89, 89, 89,0.4);
    box-shadow: 0px 0px 21px -4px rgba(0,0,0,0.53);
    border-radius: 0.5em;
}
.topbar h3{
    float:left;
    margin:10px;
}
.topbar form{
    float:right;
}

.productlisting{
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.productlistingphoto{
    margin:5px 5px 0 5px;
    flex-grow: 1;
    object-fit: cover;
    overflow: hidden;
    border-radius: 0.5em 0.5em 0 0;
    max-height: 15em;
}
.productlistingphoto img{
    min-width:100%;
    margin-top:-20%;
}
.productlistinginfo{
    flex-grow: 1;
    display: flex;
    margin:0 5px 0 5px;
    align-content: space-between;
}
.productlistingname{
    flex-grow: 2;
    text-align: left;
    margin: auto 0;
}
.productlistingcost{
    margin: auto 0;
    flex-grow: 1;
    text-align: right;
}
.productlistingbuttons{
    flex-grow: 1;
    margin: 2px 10px 10px 10px;
    display: flex;
  align-content: center;
}
.productlistingbuttons a{
    flex-grow: 1;
    height:40px;
}
.productlistingbuttons .productlistingbutton{
    width:100%;
    height:100%;
    cursor: pointer;
    border: none;
    background-color: #222;
    color:#ecedea;
    font-family: FuturaBold,Arial,sans-serif;
    font-size: 15pt;
    border-radius: 0.5em;
    cursor: pointer;
}
.productlistingbuttons a:nth-child(2){
    margin-left:5px;
}